[client]
port=13306
socket=/opt/boxen/data/mysql/socket

[server]
datadir=/opt/boxen/data/mysql
log-error=/opt/boxen/log/mysql/error.log
port=13306
socket=/opt/boxen/data/mysql/socket
max_allowed_packet=1073741824
